<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: right;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
    </style>
  </head>
  <body>
    <h1 style="margin: 0 0 0 40%;">Create Profile</h1>
    <ul>
      <li><%= button_to "Sign out", destroy_user_session_path, method: :delete  %></li>
      <li><%= link_to "Back", "/facebook_user" , method: :get  %></li>
    </ul>
    <div class="ibox-content wrapper wrapper-content ">
      <div class="row col-12">
      </div>
      <div class="row col-12 content_center">
        <%= form_for(:facebookuser, url: "/facebook_user", html: { method: :post, id: "resort", style: "margin: 0 0 0 36%;font-size: 18px"  }) do |form| %>
          <div class="form-group">
        	  <%= form.label :name %>
        	  <%= form.text_field :name,style: "margin:0 0 0 15px;" %>
        	</div>
          <br>
          <div class="form-group">
            <%= form.label :age %>
		        <%= form.number_field :age %>
          </div>
          <br>
           <div class="form-group">
            <%= form.label :interests %>
		        <%= form.text_area :interests %>
          </div>
          <br>
          <div class="form-group">
            <%= form.label :profile_picture %>
		        <%= form.file_field :profile_picture ,accept:'image/*'%>
          </div>
          <br>
          <%= form.hidden_field :admin, :value => "#{current_user.id}" %>
          <%= form.submit 'Create Profile', class: 'btn btn-primary',style: "margin:0 0 0 18%;" %>
		    <% end %>
      </div>
    </div>
  </body>
</html>


